.card{
    gap: 2.5rem;
    background: linear-gradient(60deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f);
}

.card2{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.move-up{
    background-color: crimson;
    transition: all 1s;
    transform : translateY(0px);
}
.move-up:hover{
    background-color: white;
    transition: all 1s;
    transform : translateY(-15px);
}

.dashed-2 {
    border: none;
    height: 1px;
    width: 100%;
    background: rgb(255, 255, 255);
    background: repeating-linear-gradient(90deg,white,white 6px,transparent 6px,transparent 12px);
  }

.landingVideo {
    object-fit: fill;
}

.bannerMod{
    object-fit: contain;
    /* width: auto; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* max-width: 100%;
    max-height: 200; */
    width: 200;
    height: 100;

}


.fancyButton1 {
    border: none;
    background-color: white;
    box-shadow: 0 1px 9px rgba(0,0,0,0.1),
                0 0 0 100px #1cb inset;
    transform: skewX(-18deg);
    transition: none;
}
  
.fancyButton1:hover {
    box-shadow: 0 3px 20px rgba(0,0,0,0.3),
                0 0 0 2px white inset;
    background-color: #1cb;
    transition: all 0.2s;
}
  
.fancyButton1:active {
    color: #1cb;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3),
                0 0 0px 200px white inset;
    transition: none;
}

.fancyButton2 {
    border: none;
    background-color: white;
    box-shadow: 0 1px 9px rgba(0,0,0,0.1),
                0 0 0 100px orange inset;
    transform: skewX(-18deg);
    transition: none;
}
  
.fancyButton2:hover {
    box-shadow: 0 3px 20px rgba(0,0,0,0.3),
                0 0 0 2px white inset;
    background-color: orange;
    transition: all 0.2s;
}
  
.fancyButton2:active {
    color: orange;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3),
                0 0 0px 200px white inset;
    transition: none;
}

/* .sliderTweak >  */