.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Bungee';
  src: local('Bungee'), url(./assets/fonts/Bungee-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BungeeHairline';
  src: local('BungeeHairline'), url(./assets/fonts/BungeeHairline-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'Caesar-Dressing';
  src: local('Caesar-Dressing'), url(./assets/fonts/CaesarDressing-Regular.ttf) format('truetype');
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4f4f4f #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }